<div class="sc2-about-me">
    <div class="left">
      <img class="image" src="assets/img/developer.png" alt="Image of developer"/>
    </div>

    <div class="align-right">
      <h3>{{ "who" | translate }}</h3>

      <div class="right">
        <h2>{{ "link1" | translate }}</h2>
        <p class="p1"> 
          {{ "p1" | translate }}
        </p>

        <div>
          <img src="assets/icons/location.png" alt="icon for location" />
          <p>
            {{ "p2" | translate }}  
          </p>
        </div>

        <div>
          <img src="assets/icons/cognition.png" alt="icon for cognition" />
          <p>
            {{ "p3" | translate }}  
          </p>
        </div>

        <div>
          <img src="assets/icons/new-releases.png" alt="icon for new_releases" />
          <p>
            {{ "p4" | translate }}  
          </p>
        </div>

      </div>

    </div>
    
  </div>