@import "../../../styles.scss";

.sc4-featured-p {
  // background-color: $main-background;
  padding: 100px 30px 100px 30px;
}

.line {
  height: 1px;
  width: 70%;
  background-color: $main-color2;
}

@media (max-width: 1150px) {
  .sc4-featured-p {
    padding: 70px 30px 100px 30px;
  }
}

@media (max-width: 800px) {
  .line {
    width: 100%;
  }
}

@media (max-width: 580px) {
  .sc4-featured-p {
    padding: 25px 16px 50px 16px;
    > p {
      text-align: justify;
    }
  }

  h2 {
    font-size: 2.2rem;
    hyphens: auto;
  }
}

@media (max-width: 440px) {
  .sc4-featured-p {
    padding: 25px 16px 50px 16px;
    .headline {
      > p {
        text-align: justify;
        hyphens: auto;
      }
    }
  }
}

@media (max-width: 350px) {
  .sc4-featured-p {
    padding: 8px;
    .headline {
      > p {
        font-size: 0.9rem;
        word-spacing: -0.2rem;
      }
    }
  }
}
